<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testfile2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FollowingOther"></activity>
        <activity android:name=".FollowersOther" />
        <activity android:name=".OtherAccount" />
        <activity android:name=".Search" />
        <activity android:name=".AllMemories" />
        <activity android:name=".Following" />
        <activity android:name=".Followers" />
        <activity android:name=".Account">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>